html,body{
    height: 100%;
    width: 100%;
}
.button{
    background-color: black;
    color: whitesmoke;
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(29, 29, 169);
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
}
.container{
    background-color: rgb(27, 26, 26);
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
}